Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.suo
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
#ignore thumbnails created by windows
#Ignore files build by Visual Studio
ClientBin*/
BuildDrop*/
*.psess
*.vsp
!packages/FluentMigrator.1.1.2.1/tools/migrate.exe
packages/FluentMigrator.1.1.2.1/tools/migrate.exe.config
*.mdf
*.ldf
Migrate.exe.config
*.vsext
/UpgradeLog2.htm
Fuel/MITD.Fuel.Service.Host/Web.debug.config
Fuel/MITD.Fuel.Service.Host/Web.config
Main/MITD.Main.Service.Host/Web.debug.config
Main/MITD.Main.Service.Host/Web.config