<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOffhireManagementService" />
        <binding name="basicHttpsBinding_IFuelService">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.6.12.25:8511/OffhireManagementService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOffhireManagementService"
        contract="OffhireService.IOffhireManagementService" name="BasicHttpBinding_IOffhireManagementService" />
    </client>
  </system.serviceModel>
</configuration>