<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="FrameWorkContainer" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlServerCe.3.5;provider connection string='Data Source=&quot;D:\MITD-FrameWork\Main\Design-Implementation\SourceCode\MITD.Framework\MITD.DataAcce.EF.Test\app_data\FrameWorkDB.sdf&quot;'" providerName="System.Data.EntityClient" />
    <add name="FrameWorkDBEntities" connectionString="metadata=res://*/FrameworkModel.csdl|res://*/FrameworkModel.ssdl|res://*/FrameworkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FrameWorkDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FrameWorkDBEntities" connectionString="data source=.\sqlexpress;initial catalog=FrameWorkDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>