<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name=""
      connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="ida:FederationMetadataLocation" value="https://evaluation-srv:2012/FederationMetadata/2007-06/FederationMetadata.xml "
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"
         />
    <add key="ida:Realm" value="urn:Fuel" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:AudienceUri" value="urn:Fuel" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportServerUrl" value="http://evaluation-srv/ReportServer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportsRootPath" value="/MITD.FMS.Reports" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.identityModel>
    <identityConfiguration>
      <audienceUris xdt:Transform="Replace" >
        <add value="urn:Fuel" />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry"
        xdt:Transform="Replace" >
        <authority name="http://sso.navgan.net">
          <keys>
            <add thumbprint="E1C9722F9DCEDAEB17C720B17430DFB5E0792055" />
          </keys>
          <validIssuers>
            <add name="http://sso.navgan.net" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services
    
    >
    <federationConfiguration>
      
      <wsFederation passiveRedirectEnabled="true" issuer="https://evaluation-srv:2012/issue/wsfed" realm="urn:Fuel" requireHttps="true"
                    xdt:Transform="Replace" />
     
    </federationConfiguration>
  </system.identityModel.services>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>